@page "/about"

<PageTitle>About Swim Time Converter</PageTitle>

<h1>About Swim Time Converter</h1>

<div class="form-group">
	<p>
		The LCM to SCY time conversion uses the data published <a href="https://swimswam.com/ncaa-releases-2024-championship-standards-long-course-conversion-formula/">https://swimswam.com/ncaa-releases-2024-championship-standards-long-course-conversion-formula/</a>.
		<br/><br/>
		The SCM to SCY and LCM to SCM time conversion uses the data published <a href="https://www.pullbuoy.co.uk/time-conversion-faq/">https://www.pullbuoy.co.uk/time-conversion-faq/</a>.
	</p>
</div>

@code {

}
